@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*{
    padding: 0;
    margin: 0;
    
}
body{
    background-image: url(./assets/Forest_butterfly.jfif);
    background-size: cover ;
    height: fit-content;
    opacity: 1.5;
    
}
#backgroundImage{
   
    position: absolute;
    opacity: 0.4;
}
h1{
    font-size: 6vh;
    color: white;
    font-family: 'Concert One', cursive;
    text-align: center;
    padding:3vh;
}

#box{
    text-align: center;
}
#textBox1{
    margin-top: 2vh;
    height: 5vh;
}
#textBox2{
    margin-top: 2vh;
    height: 5vh;
}
#textBox3{
    margin-top: 2vh;
    height: 6vh;
}
#box{
    color: white;

    font-size: 2.7vh;
    font-family: 'Concert One', cursive;
}